/* .container{
    width: 100%;
    height:400px;
    
}

.img{
    width: auto;
    height: 100%;
    object-fit: cover;
    display: block;
} */

.container {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center; /* Center the carousel items */
    align-items: center; /* Center the carousel items vertically */
}

.img {
    width: auto;
    height: 100%;
    object-fit: fill;
}
